{% extends "base.html" %}{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Товары{% endif %}
{% endblock %}

{% block content %}
    <!-- breadcrumb-area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row breadcrumb_box  align-items-center">
                        <div class="col-lg-6 col-md-6 col-sm-6 text-center text-sm-start">
                            <h2 class="breadcrumb-title">Товары</h2>
                        </div>
                        <div class="col-lg-6  col-md-6 col-sm-6">
                            <!-- breadcrumb-list start -->
                            <ul class="breadcrumb-list text-center text-sm-end">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                                <li class="breadcrumb-item active">Товары</li>
                            </ul>
                            <!-- breadcrumb-list end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area end -->

    <div id="main-wrapper">
        <div class="site-wrapper-reveal border-bottom">
            <!-- Product Area Start -->
            <div class="product-wrapper section-space--ptb_120">
                <div class="container">

                    <div class="row">
                        <div class="col-lg-3 col-md-3 order-md-1 order-2  small-mt__40">
                            <div class="shop-widget widget-shop-categories">
                                <div class="product-filter">
                                    <h6 class="mb-20">Категории</h6>
                                    <ul class="widget-nav-list">
                                        <li {% if not category %}class="selected"{% endif %}>
                                            <a href="{% url "product_list" %}">Все</a>
                                        </li>
                                        {% for c in categories %}
                                            <li {% if category.slug == c.slug %}class="selected"
                                                {% endif %}>
                                                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-9 col-md-9  order-md-2 order-1">
                            <div class="row">
                                <div class="col-lg-6 col-md-8">
                                    <div class="shop-toolbar__items shop-toolbar__item--left">
                                        <div class="shop-toolbar__item shop-toolbar__item--result">
                                            <p class="result-count"> Showing 1–9 of 21</p>
                                        </div>
                                        <div class="shop-toolbar__item shop-toolbar__item--result">
                                            <h5>{% if category %}{{ category.name }}{% else %}Все товары{% endif %}</h5>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tab_columns_01">
                                    <div class="row">
                                        {% for product in object_list %}
                                            <div class="col-lg-4 col-md-4 col-sm-6">
                                                <!-- Single Product Item Start -->
                                                <div class="single-product-item text-center">
                                                    <div class="products-images">
                                                        <a href="{{ product.get_absolute_url }}" class="product-thumbnail">
                                                            <img
                                                                src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'no-image.png' %}{% endif %}"
                                                                class="img-fluid" alt="Product Images" width="300"
                                                                height="300">
                                                            {% if product.hots %}
                                                                <span class="ribbon out-of-stock">
                                                                HOTS
                                                            </span>
                                                            {% elif product.sale %}
                                                                <span class="ribbon onsale">
                                                                SALE
                                                            </span>
                                                            {% endif %}
                                                        </a>
                                                        <div class="product-actions">
                                                            <form action="{% url "cart:cart_add" product.id %}"
                                                                  method="post">
                                                                {% csrf_token %}
                                                                <p style="display: none">{{ cart_product_form }}</p>
                                                                <button style="border: none;"><i
                                                                        class="p-icon icon-bag2"></i> <span
                                                                        class="tool-tip">Add to cart</span></button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <div class="product-content">
                                                        <h6 class="prodect-title"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                                        </h6>
                                                        <div class="prodect-price">
                                                            {#                                    <span class="new-price">£40.00</span> - <span class="old-price"> £635.00</span>#}
                                                            <span class="old-price"> {{ product.price }} руб.</span>
                                                        </div>
                                                    </div>
                                                </div><!-- Single Product Item End -->
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <ul class="page-pagination text-center mt-40">

                                            <li><span class="page-numbers current">1</span></li>
                                            <li><a class="page-numbers" href="#">2</a></li>
                                            <li><a class="page-numbers" href="#">3</a></li>
                                            <li><a class="next page-numbers" href="#">Next Page<i class="icon-chevron-right"></i></a>
                                            </li>
                                        </ul>

      {% if is_paginated %}
      <ul class="page-pagination text-center mt-40">
        {% if page_obj.has_previous %}
            <li><a class="next page-numbers" href="?page={{page_obj.previous_page_number}}"><span class="page-numbers current"></span></a>
        {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">&laquo;</a>
            </li>
        {% endif %}

          {% for i in paginator.page_range %}
              {% if page_obj.number == i %}
                <li class="page-item"><a class="page-link active">{{ i }}</a></li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
              {% endif %}
          {% endfor %}

            {% if page_obj.has_next %}
              <li><a class="next page-numbers" href="?page={{page_obj.next_page_number}}">&raquo; След <i class="icon-chevron-right"></i></a>
            {% else %}
                <li class="page-item disabled">
                  <a class="page-link">&raquo;</a>
                </li>
            {% endif %}
      </ul>
      {% endif %}
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <!-- Product Area End -->
        </div>

    </div>
{% endblock %}